<div layout="row" flex layout-align="center center">
  <form name="userForm" layout="column" layout-align="center" ng-submit="welcomeCtrl.createUser()">
    <h1>
      Welcome to your guest list
      <br/>
      <small>
        Please introduce yourself
      </small>
    </h1>

    <md-input-container>
      <label>What your name?</label>
      <input ng-model="welcomeCtrl.user.name" maxlength="20" required />
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.$invalid">
      Go to my list
    </md-button>
  </form>
</div>
